{% extends "layout.html" %}
{% block content %}
    <h1><p style="color:#ffffff">Select a Tense to use.</p></h1>
    <form method="post" action="{{ url_for('signup') }}">
        <h2>
             <table border="5px"; BORDERCOLOR="#FF00FF" width="20%" bgcolor="#FF8C00" style="color:#ffffff">
                <tr>
                    <td>
                        <input type="radio" name="tense" value="present" checked="checked">Present Tense</input>
                    </td
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="tense" value="preterit">Preterit Tense</input>
                    </td
                </tr>
	            <tr>
                    <td>
                        <input type="radio" name="tense" value="imperfect">Imperfect Tense</input>
                    </td
                </tr>
	            <tr>
                    <td>
                        <input type="radio" name="tense" value="future">Future Tense</input>
                    </td
                </tr>
            </table>
            </FONT>
        </p>
    </h2>
    <h1><p style="color:#ffffff">Pick a Mode to use.</p></h1>
    <h2>
        <p>
            <table border="5px"; BORDERCOLOR="#FF00FF" width="20%" bgcolor="#FF8C00" style="color:#ffffff">
                <tr>
                    <td>
                        <input type="radio" name="mode" value="refresh" checked="checked">Refresh Me</input>
                    </td>
                </tr>
    	        <tr>
    	            <td><input type="radio" name="mode" value="test">Test Me</input></td>
    	        </tr>
    	    </table>
        </p>
        <p>
            <button style="height:200%;width:20%;font-size:100%" type="submit">Go!</button>
        </p>
    </h2>
    </form>
{% endblock %}
